.timepickercontainer {
  box-shadow: 15px 15px 32px #5D5D5D14;
}

.input {
  background: #ffffff;
  box-shadow: 0 0px 18px #5d5d5d21;
  border: 1px solid #fff;
  border-radius: 26px;
  opacity: 1;
  width: 200px;
  height: 59px;
  font-size: 1.4rem;
  letter-spacing: 0px;
  color: #515c6f;
  transition: all 0.3s ease;
  padding: 12px;
  font-weight: 400;
}